
 
<!DOCTYPE html>
 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="js/jquery.min.js"></script>
</head>
<div>ssssssssssssssssssssssssssssssss</div>
      <div class="">
			<ul class="num-box">
				<li>
					<span th:utext="${list.id+'&lt;b&gt;次&lt;/b&gt;'}"/></span>
					<span>入库保函数量</span>
				</li>
				<li>
					<span th:utext="${list.name+'&lt;b&gt;次&lt;/b&gt;'}"/></span>
					<span>累计查询请求</span>
				</li>
				<li>
					<span th:utext="${list.age+'&lt;b&gt;次&lt;/b&gt;'}"></span>
					<span>累计验证保函</span>
				</li>
			</ul>
		</div>
</body>