<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" />
	<title>电子保函服务平台</title>
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body style="background:url(images/2222.jpg) no-repeat;background-size: cover;background-position: bottom;">
	<div class="home-top">
		<span>电子保函服务平台</span>
		<div th:if="${session.LOGIN_USER==null}" class="home-top-rt">
			<a href="/index.html"><i class="fa fa-home"></i>&nbsp;返回首页</a>|
			<a href="/login.html" class="margin-l-10">登录</a><a href="/login.html#regist">注册</a>
		</div>
		<div th:if="${session.LOGIN_USER!=null}" class="home-top-rt">
			<a href="/index.html"><i class="fa fa-home"></i>&nbsp;返回首页</a>|
			<a href="/logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i>退出</a>
		</div>
	</div>
	<div class="home-box">
	<div class="home-main">
		<h1 class="padding-t-30">电子保函服务平台</h1>
		<h2>保证担保函查验理赔系统，共筑保证担保诚信生态圈</h2>
		<div class="input-box">
			<form action="validate.html" method="GET">
				<input name="policyNo" class="input-search" placeholder="请输入保函编号" />
				<button><i class="fa fa-search" aria-hidden="true"></i>&nbsp;搜索</button>
			</form>
		</div>
		<div class="">
			<ul class="num-box">
				<li>
					<span th:utext="${statistics.policyCount+'&lt;b&gt;次&lt;/b&gt;'}"/></span>
					<span>入库保函数量</span>
				</li>
				<li>
					<span th:utext="${statistics.searchCount+'&lt;b&gt;次&lt;/b&gt;'}"/></span>
					<span>累计查询请求</span>
				</li>
				<li>
					<span th:utext="${statistics.validateCount+'&lt;b&gt;次&lt;/b&gt;'}"></span>
					<span>累计验证保函</span>
				</li>
			</ul>
		</div>
		</div>
	</div>
	<div class="footer-h">版权所有：山西伟鑫科创科技有限公司</div>
	 <!-- 高度计算 -->
<script>
	//监听
	window.onresize = function () {
		changeHeight();
	};
	function changeHeight() {
		var h = $(window).height();//获取页面可见高度 
		var h1 = (h - 60-60-41) + "px";
		var h2 = (h - 60-60-41-160) + "px";
		$(".home-box").css("height", h1);
		$(".home-main").css("height", h2);
	};

	//页面加载时
	$(function () {
		var h = $(window) .height();//获取页面可见高度 
		var h1 = (h - 60-60-41) + "px";
		var h2 = (h - 60-60-41-160) + "px";
		$(".home-box").css("height", h1);
		$(".home-main").css("height", h2);
	});
</script> 
</body>
</html>
